In [ ]:
import pandas as pd
import numpy as np

data=np.random.rand(4,4)

df=pd.DataFrame(data, columns=['f1','f2','f3','f4'])

print(df)

         f1        f2        f3        f4
0  0.222879  0.085507  0.021508  0.094142
1  0.748971  0.181670  0.528362  0.375000
2  0.140684  0.515533  0.459195  0.296163
3  0.478451  0.514785  0.711762  0.143436

In [ ]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.222879        0.085507        0.021508        0.094142
1        0.748971        0.181670        0.528362        0.375000
2        0.140684        0.515533        0.459195        0.296163
3        0.478451        0.514785        0.711762        0.143436

In [ ]:
stats=df.describe()

print(stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.397746        0.324374        0.430207        0.227185
std          0.274792        0.223771        0.292565        0.130795
min          0.140684        0.085507        0.021508        0.094142
25%          0.202330        0.157629        0.349773        0.131112
50%          0.350665        0.348227        0.493778        0.219800
75%          0.546081        0.514972        0.574212        0.315873
max          0.748971        0.515533        0.711762        0.375000

In [ ]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [ ]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
df.loc[:,["Random value 2","Random value 3"]]

   Random value 2  Random value 3
0        0.085507        0.021508
1        0.181670        0.528362
2        0.515533        0.459195
3        0.514785        0.711762

In [ ]:
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0        0.085507        0.021508
1        0.181670        0.528362
2        0.515533        0.459195
3        0.514785        0.711762